%button.btn.btn-default.btn-primary#modal-btn
  Close
%h1
  Create a New System Incident 
%h3
  Please fill out the information below and click submit to create a new incident
=render('incident_form')