%header
  =render('layouts/admin_navbar')
.main-section
  %h2 Welcome Administrator !
  %h3
    All open incidents are displayed below
  #incident-index
    - if @incident_decorator.check_for_open_incidents?   
      - @incident_decorator.list_systems.each do |system|
        - if @incident_decorator.check_for_open_incidents?(system)
          %h4.title
            Open incidents for 
            =system.name
          %table.table.table-bordered.table-condensed.td-bg
            %tr
              .row
                %th Fault Reference
                %th Description
                %th Start Date
                %th Start Time
            -system.incidents.where(status: 'Open').each do |incident|
              %tr
                .row
                  %td.col-md-1
                    =incident.fault_ref
                  %td.col-md-6
                    =incident.description
                  %td.col-md-1
                    =incident.date.to_formatted_s(:long)
                  %td.col-md-1
                    =incident.time.to_s(:time)
                  %td.text-center.col-md-1
                    =link_to "Update", edit_admin_incident_path(incident)
                  %td.text-center.col-md-1
                    =link_to "Close", admin_incident_path(incident)+'?query=close', method: :delete
                  %td.text-center.col-md-1
                    =link_to "Delete", admin_incident_path(incident)+'?query=delete', method: :delete
    -else
      %p
        There are currently no open incidents for any system !! 