#form-title Admin Login
%form#loginform{name: 'loginform', action: sessions_path, method: 'post'}
  %label{for: 'username'}
    Enter Username
  %input#username.txtfield{type: 'text', name: 'session_email', label: 'Email'}
  %label{for: 'password'}
    Enter Password
  %input#password.txtfield{type: 'password', name: 'session_password'}
  %input{type: 'hidden', name: 'authenticity_token', value: form_authenticity_token}
  %input#login-button.btn.btn-primary.hidemodal{type: 'submit', value: 'LOGIN'}
  %input#cancel-btn.btn.btn-primary.hidemodal{value: 'CANCEL'}