%header
  =render('layouts/homepage_navbar')
#title-section
  .container
    .row
      #header-text
        =get_dashboard_name
        System Dashboard
    .row
      .lead-text
        Providing information about the status of
        =get_dashboard_name
        systems
    .row
      .col-md-4.col-md-offset-4.text-center
        %a.btn.btn-lg.btn-primary#title-btn.blue-btn{href: '#status-section'}
          Goto Dashboard
#status-section
  .container
    .row
      .lead-text
        System Status Information
    .row#key-section
      =render('layouts/key')
    - if notice
      .flash-notice
        =notice
    - elsif alert
      .flash-alert
        =alert
    .row#system-section
      =render(@systems)
    .row#refresh
      Page last refreshed: 
      =Time.now.to_formatted_s(:long)
#contacts-section
  .container
    .lead-text
      =get_dashboard_name
      Contact List
    =render(@contacts)   
    #copyright
      &copy 
      =Date.today.year
      =get_dashboard_name      
#login-modal.modal{"aria-hidden"=>"true", "aria-labelledby"=>"login-modal"}
#details-modal.modal{"aria-hidden"=>"true", "aria-labelledby"=>"details-modal"}