%header
  =render('layouts/navbar')
#title-section
  .row
    #header-text
      =get_dashboard_name
      System Dashboard
  .row
    .lead-text
      Providing information about the status of
      =get_dashboard_name
      systems
  .row
    .col-md-4.col-md-offset-4.text-center
      %a.btn.btn-lg.btn-primary.title-btn{href: '#status-section'}
        Goto Dashboard
#status-section
  .container
    .row
      .lead-text
        System Status Information
    =render('layouts/key')
    .row 
      =render(@systems_for_row1)
    .row
      =render(@systems_for_row2)
    .row#refresh
      Page last refreshed: 
      =Time.now.to_formatted_s(:long)
#contacts-section
  .container
    .lead-text
      Contact List
    =render(@contacts)   
    #copyright
      &copy 2014
      =get_dashboard_name      
#login-modal.modal{"aria-hidden"=>"true", "aria-labelledby"=>"login-modal"}
#details-modal.modal{"aria-hidden"=>"true", "aria-labelledby"=>"details-modal"}
#create-modal.modal{"aria-hidden"=>"true", "aria-labelledby"=>"create-modal"}
#edit-modal.modal{"aria-hidden"=>"true", "aria-labelledby"=>"edit-modal"}