%hr
%h2
  Chronological List of Historic Incidents 
- if @system_decorator.incident_histories.empty?
  %h3
    No incident history for this system
- else
  %table.table.table-bordered.table-condensed
    %tr
      %th Fault Reference
      %th Description
      %th Incident Date
      %th Severity
    - @system_decorator.incident_histories.order(date: :desc).each do |incident|
      %tr
        .row
        %td.col-md-1 
          =incident.fault_ref  
        %td.col-md-9
          =incident.description
        %td.col-md-1 
          =incident.date.to_formatted_s(:rfc822)
        %td.col-md-1 
          =incident.severity