%h2
  Chronological List of Historic Incidents 
- if @system_decorator.incident_histories.empty?
  %h3
    No incident history for this system
- else
  %table.table.table-bordered.table-condensed
    %tr
      %th HP Reference
      %th Description
      %th Start Date
      %th Severity
    - @system_decorator.incident_histories.order(date: :desc).each do |incident|
      %tr
        %td 
          =incident.hp_ref  
        %td 
          =incident.description
        %td 
          =incident.date.to_formatted_s(:rfc822)
        %td 
          =incident.severity