=image_tag "#{@system_decorator.status}.png"
%hr
%h2
  Incidents Occuring in the last 24 hours
- if @system_decorator.incidents.empty?
  %h3
    No P1 or P2 incidents during the last 24 hours
- else  
  .my-table
    %table.table.table-condensed
      %tr
        %th Fault Reference
        %th Description
        %th Start Date
        %th Start Time
        %th Severity
        %th Status
      - @system_decorator.incidents.order(date: :desc).each do |incident|
        %tr
          .row
            %td.col-md-1
              =incident.hp_ref  
            %td.col-md-7
              =incident.description
            %td.col-md-1
              =incident.date.to_formatted_s(:rfc822)
            %td.col-md-1
              =incident.time.to_formatted_s(:time)              
            %td.col-md-1
              =incident.severity       
            %td.col-md-1
              =incident.status 