%button.btn.btn-default.btn-primary#modal-btn
  Close
%br
%h1 
  Status of 
  =@system_decorator.name 
=render('incidents/incident')  
%hr
=render('incidents/incident_history')
%hr

%script
  $('#modal-btn').click(function() {
  $("#details-modal").html("");
  $('#details-modal').modal('hide');
  });