%button.btn.btn-default.btn-primary#modal-close-btn
  Close
%br
%h1 
  Status of 
  =@system_decorator.name 
=render('incidents/incident')  
%hr
=render('incidents/incident_history')
%hr

:javascript
  var DM={
    setup: function() {
      $('#modal-close-btn').on('click', function() {
        $('#details-modal').html('');
        $('#details-modal').hide();
      });
    }
  }

  $(DM.setup);