%button.btn.btn-danger.modal-X-btn
  X
%br
%h1 
  Current Status of 
  =@system_decorator.name 
#incident-section
  =render('incidents/incident')  
#history-section
  =render('incidents/incident_history')
%button.btn.btn-primary.modal-close-btn
  Close Window