.col-md-4.col-sm-6
  - system_decorator=SystemDecorator.new(system)
  - system_name=system_decorator.name
  - system_decorator.check_for_closed_incidents
  - smiley="#{system_decorator.status}.png"
  - message_color, message=system_decorator.set_message_and_message_color
  .system-section{id: "#{system_name.delete(' ')}"}
    %h3
      =image_tag("#{smiley}")
      %br
      =system_name
    %h5{class: "#{message_color}"}
      =message
    %h4
      =link_to 'Incident Details', system_path(system), {class: 'btn btn-lg btn-primary details-btn', remote: true, "data-target"=>"#details-modal", "data-toggle"=>"modal"}