%button.btn.btn-danger.modal-X-btn
  X
%br
%h1 
  Current Status of 
  =@system_decorator.name 
#incident-section
  =render('incidents/incident')  
#history-section
  =render('incidents/incident_history')
%button.btn.btn-primary.modal-close-btn
  Close Window

:javascript
  var DM={
    setup: function() {
      $('body').css('overflow','hidden');
      $('.modal-close-btn, .modal-X-btn').on('click', function() {
        $('#details-modal').html('');
        $('#details-modal').hide();
        $('body').css('overflow','visible');
      });
    }
  };

  $(DM.setup);