%div{class: 'row-fluid'}
  %div{class: 'span12'}
    %div{class: 'title-section'}
      %h1 
        =get_dashboard_name
        System Dashboard
      %p
        Providing information about the status of
        =get_dashboard_name
        systems
%div{class: 'row-fluid'}
  %div{class: 'span12'}
    =render('layouts/key') 
%div{class: 'row-fluid'}
  =render(@systems_for_row1)
%div{class: 'row-fluid'}
  =render(@systems_for_row2)
%div{class: 'row-fluid'}
  %div{class: 'span12'}
    %p{id: 'system-last-refresh'}
      Page last refreshed: 
      =Time.now.to_formatted_s(:long)