%header
  =render('layouts/navbar')
.system-title-section
  .row
    .header-text
      =get_dashboard_name
      System Dashboard
    .lead-text
      Providing information about the status of
      =get_dashboard_name
      systems
.system-main-section
  .row
    .col-md-12
      =render('layouts/key')
  .row 
    =render(@systems_for_row1)
  .row
    =render(@systems_for_row2)
.system-footer-section
  Page last refreshed: 
  =Time.now.to_formatted_s(:long)