@import "shared_mixins.css.scss";
#admin-incidents_controller {
  @include flash-settings;
  background-color: #444;
  
  .main-section {
    border: 1px solid black;
    padding: 10px;
    display: block;
    width: 80%;
    height:100%;
    margin: 70px auto 0 auto;
    background-color: #eee;
    border-radius: 10px;

    h2 {
      text-align: center;
      font-weight: bold;
    }

    h3 {
      text-align: center;
    }

    .required-field {
      text-align: center;
      color: red;
    }

    #incident-index {
      .table {
        border: 1px solid black;
      }

      .td-bold {
        font-weight: bold;
      }

      .td-bg {
        background: white;
      }

      p {
        margin-top: 50px;
        font-size: 1.5em;
        text-align: center;
      }

      h4{
        font-weight: bold;
      }

      tr{
        font-size: 1.3em
      }

      .table {
        background-color: #eee;
      }

      td, th {
        position: static;
        border: 1px solid black;
        background-color: white;
      }
    }

    #incident-form {
      margin-left: 10%;
      font-size: 1.4em;
      text-align: left;
      padding: 10px;

      textarea {
        width: 90%;
        height: 200px;
      }

      select {
        width: 20%;
      }

      .btn {
        font-size: 1.1em;
        width: 200px;
        margin-top: 30px;
      }

      .help-inline {
        color: #b94a48;
      }

      .radio {
        margin-left: 20px;
      }

      .controls {
        margin-top: 10px;
      }
    }
  }
}