@import "shared_mixins.css.scss";
#comments_controller {
  font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
  @include back-panels;
  @include page-headers;
  @include page-subheaders;
  @include page-links;
  @include flash-settings;
  
  .main-section {
    textarea {
      width:850px;
      height: 500px;
    }
    .btn {
      font-size: 17px;
      width: 200px;
    }
  }
}