@import "shared_mixins.css.scss";
#home_page_controller {
  @include flash-settings;
  font-family: 'Ubuntu', Helvetica, Arial, sans-serif;

  #title-section {
    margin: 50px 0 0 0;
    padding: 0 0 0 0;
    height: 600px;
    width: 100%;
    background-attachment: scroll;
    background-image: image-url("server_room9.jpg");
    background-repeat: none;
    background-position: center center;
    background-repeat: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;

    #header-text {
      margin-top: 200px;
      text-align: center;
      font-size: 90px;
      font-weight: bold;
      color: white;
    }

    .lead-text {
      margin-top: 20px;
      text-align: center;
      font-size: 35px;
      font-weight: bold;
      color: white;
    }

    .title-btn {
      margin: 50px auto;
      font-size: 30px;
      font-weight: bold;
    }
  }

  #status-section {
    background-color: #eee;

    .lead-text {
      padding-top: 45px;
      padding-bottom: 10px;
      text-align: center;
      font-size: 50px;
      font-weight: bold;
    }

    .system-section {
      margin-bottom: 30px;
      text-align: center;
      border: 1px solid black;
      border-radius: 10px;
      background-color: #fff;

      h3 {
        font-weight: bold;
      }

      .details-btn {
        font-size: 18px;
        border: 1px solid black;
      }

      .system-green {
        color: green;
        font-size: 20px;
      }

      .system-red {
        font-size: 20px;
        color: red;
      }

      .system-black {
        font-size: 18px;
        color: black;
      }

      img {
        width: 120px;
        height: 120px;
        margin-bottom: 10px;
        margin-top: 10px;
      }
    }

    #status-key {
      font-size: 15px;
      margin: 0px auto;
      width: 300px;
      img {
        width: 25px;
        height: 25px;
        margin-bottom: 5px;
      }
    }

    #refresh {
      margin: 20px 0 20px 0;
      text-align: center;
      font-size: 20px;
      font-weight: bold;
    }  
  }

  #contacts-section {
    width: 100%;
    background-color: #2d3033;
    height: 400px;
    color: #858585;
    text-align: center;
    font-size: 18px;

    .lead-text{
      padding-top: 45px;
      padding-bottom: 10px;
      text-align: center;
      font-size: 50px;
      font-weight: bold;
    }

    #copyright {
      padding: 50px 0 0 0;
    }
  }
}