@import "shared_mixins.css.scss";
#home_page_controller {
  @include flash-settings;

  #title-section {
    margin: 50px 0 0 0;
    padding: 0 0 0 0;
    height: 600px;
    width: 100%;
    background-attachment: scroll;
    background-image: image-url("network-switch.jpg");
    background-repeat: none;
    background-position: center center;
    background-repeat: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;

    #header-text {
      margin-top: 50px;
      text-align: center;
      font-size: 55px;
      font-weight: bold;
      color: white;
    }

    .lead-text {
      margin-top: 20px;
      text-align: center;
      font-size: 30px;
      font-weight: bold;
      color: white;
    }

    .title-btn {
      margin: 40px auto;
      font-size: 25px;
      font-weight: bold;
    }

    @media(min-width: 768px) {
      #header-text {
        margin-top: 75px;
        font-size: 65px;
      }

      .lead-text {
        margin-top: 30px;
        font-size: 40px;
      }

      .title-btn {
        margin: 50px auto;
        font-size: 30px;
      }
    }

    @media(min-width: 1000px) {
      #header-text {
        margin-top: 100px;
        font-size: 75px;
      }

      .lead-text {
        margin-top: 40px;
        font-size: 45px;
      }

      .title-btn {
        margin: 40px auto;
        font-size: 30px;
      }
    }

    @media(min-width: 1400px) {
      #header-text {
        margin-top: 150px;
        font-size: 90px;
      }

      .lead-text {
        margin-top: 50px;
        font-size: 45px;
      }
    }
  }

  #status-section {
    background-color: #eee;

    .lead-text {
      padding-top: 45px;
      padding-bottom: 10px;
      text-align: center;
      font-size: 50px;
      font-weight: bold;
    }

    .system-section {
      margin-bottom: 30px;
      text-align: center;
      border: 1px solid black;
      border-radius: 10px;
      background-color: #fff;

      h3 {
        font-weight: bold;
      }

      .details-btn {
        font-size: 18px;
        border: 1px solid black;
      }

      .system-green {
        color: green;
        font-size: 20px;
      }

      .system-red {
        font-size: 20px;
        color: red;
      }

      .system-black {
        font-size: 18px;
        color: black;
      }

      img {
        width: 120px;
        height: 120px;
        margin-bottom: 10px;
        margin-top: 10px;
      }
    }

    #status-key {
      font-size: 15px;
      margin: 0px auto;
      width: 300px;
      img {
        width: 25px;
        height: 25px;
        margin-bottom: 5px;
      }
    }

    #refresh {
      margin: 20px 0 20px 0;
      text-align: center;
      font-size: 20px;
      font-weight: bold;
    }  
  }

  #contacts-section {
    width: 100%;
    background-color: #444;
    height: 100%;
    color: #fff;
    text-align: center;
    font-size: 18px;

    .lead-text{
      padding-top: 45px;
      padding-bottom: 10px;
      text-align: center;
      font-size: 50px;
      font-weight: bold;
    }

    #copyright {
      padding: 50px 0 0 0;
    }
  }
}

/** modal window styles **/
#details-modal {
  overflow-y: auto;
  width: 90%;
  height: 100%;
  padding: 15px 20px;
  background: #fff;
  font-size: 1.4em;
  margin:0 auto 0 auto;

  .hr-rule{
    color: black;
  }

  h1,h2,h3 {
    text-align: center;
  }

  h1 {
    font-weight: bold;
  }

  h2 {
    font-weight: bold;
  }

  img {
    width: 100px;
    height: 100px;
    margin: auto;
    display:block;
  }

  td, th {
    position: static;
    border: 1px solid black;
    background-color: white;
  }

  .modal-close-btn {
    margin: 30px auto 20px auto;
    display:block;
    width: 250px;
    font-size: 1.2em;
    text-align: center;
  }

  .modal-X-btn {
    float: right;
    display:block;
    font-size: 1.2em;
  }
}

#login-modal {
  width: 500px;
  height: 300px;
  margin: 200px auto;
  padding: 15px 20px;
  background: #f3f6fa;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

#form-title {
  font-size: 2em;
  text-align: center;
}

#loginform {
  #cancel-btn, #login-button {
    width: 100px;
  }

  .txtfield { 
    display: block;
    width: 100%;
    padding: 6px 5px;
    margin-bottom: 15px;
    color: #7988a3;
    font-size: 1.4em;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.8);
  }
}