%nav.navbar.navbar-default.navbar-inverse.navbar-fixed-top{role: "navigation"}
  .container
    %ul.nav.navbar-nav.navbar-right
      %li
        =link_to 'Return to Dashboard', root_path(anchor: 'status-section')