%div{id: 'system-key'}
  %table{id: 'key-table', class: 'table table-bordered table-condensed'}
    %tr
      %td
        =image_tag('green.png') 
        No Major System Problems
      %td   
        =image_tag('amber.png') 
        Priority 2 (P2) Incident Running Now
      %td
        =image_tag('red.png')  
        Priority 1 (P1) Incident Running Now